.logo {
  height: 90px;
  border-radius: 60%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff5757;
}

#links {
  justify-content: end;
}

#links a {
  margin-right: 30px;
}

@media (max-width: 991px) {
  .menu {
    display:flex;
    align-items: center;
    margin-left: 3vh;
    gap: 30px;    
  }
}