.cards-pilares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;    
    margin-top: 20px;
    margin-bottom: 50px ;
}

#habilidades-prof p {
    text-align: justify;
}

.card-pilares {
    background-color: #4f535a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(235, 233, 233, 0.1);
    max-height: 80px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card-pilares:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    cursor: pointer;
  }

.efeito {
    opacity: 0;
    animation: efeito 1.5s forwards;
}

@keyframes efeito  {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}
